#loginCard {
    -fx-background-image: url('/images/noise-texture.png');
    -fx-background-size: cover;
    -fx-background-color: linear-gradient(to bottom right, #26a69a, #4fc3f7);
}

#loginButton:hover {
    -fx-background-color: #00897b;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 2);
}

#signupButton:hover {
    -fx-text-fill: #f4511e;
    -fx-underline: true;
}

